html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#container {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(133, 133, 133);
    background-color: rgb(230, 230, 230);
}

#output-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid black;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 2.25rem;
    margin-bottom: 10px;
    box-shadow: inset 0 0 2px 1px black;
    background-color: rgb(255, 255, 255);
}

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

button {
    height: 60px;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.5rem;
    background-color: #efefef;
    box-shadow: 2px 2px 1px 0 rgb(88, 88, 88);
}

button:active {
    /* transition: 0.2s; */
    box-shadow: inset 2px 2px 5px 0 rgb(70, 70, 70);
}

button:hover {
    /* border: 2px solid black; */
}

#btn-0 {
    grid-column: auto / span 2;
}

#clear-btn {
    background-color: rgb(246, 156, 156);
    color: white;
}

#clear-btn:active {
    box-shadow: inset 2px 2px 5px 0px rgb(160, 102, 102);
}

#backspace-btn {
    background-color: rgb(246, 156, 156);
    color: white;
    font-size: 1.75rem;
}

#backspace-btn:active {
    box-shadow: inset 2px 2px 5px 0px rgb(160, 102, 102);
}

.op-btn {
    background-color: rgb(160, 189, 233);
    color: white;
    font-size: 2rem;
}

.op-btn:active {
    box-shadow: inset 2px 2px 5px 0px rgb(120, 142, 175);
}

#positivity-btn {
    background-color: rgb(160, 189, 233);
    color: white;
    
}

#positivity-btn:active {
    box-shadow: inset 2px 2px 5px 0px rgb(120, 142, 175);
}